.icons {
  background-image: url(sprites/icons.svg);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
}

.red_triangle {
  background-position: 0 0;
}

.yellow_star {
  background-position: 0 32px;
}
