{%- set one_dim_group = sprite.dim_groups.keys()|length == 1 -%}

{% macro dimensions(icon) %}
  width: {{ icon.css('width') }};
  height: {{ icon.css('height') }};
{% endmacro %}

{#- General declaration for background and dimensions if possible -#}
{% if common_class -%}
.{{ common_class }}
{%- else -%}
  {%- for icon in sprite.icons -%}
    {{ icon.css_selector() }}
	  {%- if not loop.last -%}, {% endif -%}
  {%- endfor %}
{%- endif %} {
  background-image: url({{ sprite_relpath }});
  background-repeat: no-repeat;
  {%- if one_dim_group %}
  {#- only one dimension group, include dimensions here -#}
  {{ dimensions(sprite.icons[0]) }}
  {%- endif -%}
}
{% for group in sprite.dim_groups.values() -%}
{%- if group|length > 1 -%}
{#- width and height properties can be grouped -#}
{%- if not one_dim_group -%}
{%- for icon in group -%}
  {{ icon.css_selector() }}
  {%- if not loop.last %}, {% endif -%}
{%- endfor %} {
  {{- dimensions(sprite.icons[0]) -}}
}
{%- endif -%}
{#- but positions still need to be defined individually! -#}
{% for icon in group %}
{{ icon.css_selector() }} {
  background-position: {{ icon.css('background-position') }};
}
{% endfor %}
{%- else -%}
{#- add positions and dimensions for the only icon of the group -#}
{{ group[0].css_selector() }} {
  background-position: {{ group[0].css('background-position') }};
  {{- dimensions(group[0]) -}}
}
{%- endif -%}
{%- endfor %}
