{%- set n_groups = sprite.dim_groups.keys()|length == 1 -%}

{%- macro dimensions(icon) %}
  width: {{ icon.css('width') }};
  height: {{ icon.css('height') }};
{% endmacro -%}

{%- macro bkg_image(icon) -%}
{%- set icon=icon.png if png else icon -%}
{%- if data -%}
	{%- set url=icon.get_dataURI() -%}
{%- else -%}
	{%- set url=url_dir + '/' + icon.filename -%}
{%- endif -%}
background-image: url({{ url }});
{%- endmacro -%}

{#- General declaration for background and dimensions if possible -#}
{%- if common_class -%}
.{{ common_class }}
{%- else -%}
  {%- for icon in sprite.icons -%}
    {{ icon.css_selector() }}
	  {%- if not loop.last -%}, {% endif -%}
  {%- endfor %}
{%- endif %} {
  {%- if not as_icons %}
  {{ bkg_image(sprite) }}
  {%- endif %}
  background-repeat: no-repeat;
  {%- if n_groups == 1 %}
  {#- only one dimension group, include dimensions here -#}
  {{ dimensions(sprite.icons[0]) }}
  {%- endif -%}
}
{% for group in sprite.dim_groups.values() -%}
{%- if group|length > 1 -%}
{#- width and height properties can be grouped -#}
{%- if n_groups > 1 -%}
{%- for icon in group -%}
  {{ icon.css_selector() }}
  {%- if not loop.last %}, {% endif -%}
{%- endfor %} {
  {{ dimensions(sprite.icons[0]) }}
}
{%- endif -%}
{#- but positions still need to be defined individually! -#}
{% for icon in group %}
{{ icon.css_selector() }} {
  {%- if as_icons %}
  {{ bkg_image(icon) }}
  {%- endif %}
  background-position: {{ icon.css('background-position') }};
}
{% endfor %}
{%- else -%}
{#- add positions and dimensions for the only icon of the group -#}
{{ group[0].css_selector() }} {
  {%- if as_icons %}
  {{ bkg_image(group[0]) }}
  {%- endif %}
  background-position: {{ group[0].css('background-position') }};
  {{- dimensions(group[0]) -}}
}
{%- endif -%}
{%- endfor %}
